<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      <img class="sidenav-logo" src="../../../assets/images/angular.svg" alt="" routerLink="/home" />
      <p>Angular Todo</p>
    </mat-toolbar>
    <div class="sidenav-user">
      <div class="sidenav-user__image">
        <img src="../../../assets/images/user.jpg" alt="">
      </div>
      <p class="sidenav-user__name">Charlie Adams</p>
      <p class="sidenav-user__email">adams.charlie@gmail.com</p>
    </div>
    <mat-nav-list>
      <a mat-list-item (click)="drawer.mode === 'over' ? drawer.close() : ''">
        <mat-icon matListIcon color="primary">today</mat-icon>
        <div matLine class="sidenav-list" routerLink="/tutorial/today">
          <p>我的一天</p>
          <span *ngIf="todayTodoList.length > 0">{{todayTodoList.length}}</span>
        </div>
      </a>
      <a mat-list-item (click)="drawer.mode === 'over' ? drawer.close() : ''">
        <mat-icon matListIcon color="primary">star_border</mat-icon>
        <div matLine class="sidenav-list" routerLink="/tutorial/star">
          <p>重要</p>
          <span *ngIf="starTodoList.length > 0">{{starTodoList.length}}</span>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="sidenav-title">
        <span>Angular Todo</span>
        <a mat-button href="https://github.com/WX-DongXing/Todo" target="_blank">
          <img src="../../../assets/images/github.svg" alt="">
          <span>Github</span>
        </a>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
