<div class="intro-wrap">
  <div class="intro-content">
    <div class="intro-markdown">
      <markdown ngPreserveWhitespaces>
        # Angular
        Angular是一款由Google维护的开源JavaScript库，用来协助单一页面应用程序运行。<br />
        它的目标是透过MVC模式（MVC）功能增强基于浏览器的应用，使开发和测试变得更加容易。<br />
        在版本2大改（最突出的改变的全面使用TypeScript）之后改名Angular，第N版以Angular N的形式命名。

        ### 历史
        ***
        * 最初，AngularJS的重写被团队称为**“Angular 2”**，但这导致开发人员之间的混淆。为了澄清，该团队宣布应该为每个框架使用单独的术语，其中**“AngularJS”指的是1.X**版本，而**“Angular”指的是没有“JS”指的是版本2及更高版本**。

        * Angular 2于2015年12月移至Beta，第一个候选版本于2016年5月发布。最终版本于2016年9月14日发布。

        * 2016年12月13日宣布**Angular 4**，跳过3，以避免由于路由器软件包版本的错位导致混淆，该版本已经作为v3.3.0发布。最终版本于2017年3月23日发布。Angular 4向后兼容Angular 2.

        * Angular 5于2017年11月1日发布。**Angular 5**的主要改进包括支持渐进式Web应用程序，构建优化器以及与Material Design相关的改进。

        * **Angular 6**于2018年5月4日发布。这是一个主要版本，更少关注底层框架，更多关于工具链，以及将来更容易使用Angular快速移动，例如：ng update，ng add，Angular Elements，Angular Material + CDK Components，Angular Material入门组件，CLI工作区，库支持，树可动提供商，动画性能改进和RxJS v6。

        * **Angular 7**于2018年10月18日发布。有关应用程序性能。

        ### 架构概览
        ***
        Angular 是一个用 HTML 和 TypeScript 构建客户端应用的平台与框架。 Angular 本身就是用 TypeScript 写成的。
        <br />
        <br />
        Angular 的基本构造块是 **NgModule**，它为组件提供了编译的上下文环境。 NgModule 会把相关的代码收集到一些功能集中。
        Angular 应用就是由一组 NgModule 定义出的。
        <br />

          * 组件定义**视图**。视图是一组可见的屏幕元素， 每个应用都至少有一个根组件
          <br />
          <br />
          * 组件使用**服务**。服务会提供那些与视图不直接相关的功能。服务提供商可以作为**依赖被注入**到组件中， 这能让你的代码更加模块化、可复用，而且高效。
        组件和服务都是简单的类，这些类使用**装饰器**来标出它们的类型，并提供元数据以告知 Angular 该如何使用它们
          <br />
          <br />
          * 模板把普通的 HTML 和**指令与绑定标记（markup）**组合起来，这样 Angular 就可以在呈现 HTML 之前先修改这些 HTML
          <br />
          <br />
          * 服务的元数据提供了一些信息，Angular 要用这些信息来让组件可以通过**依赖注入（DI）**使用该服务。

        ### 特性
        ***
        #### 1. 指令
        * *ngFor 是一个 Angular 的复写器（repeater）指令。 它会为列表中的每项数据复写它的宿主元素。
        ```ts
          // ts file
          const list: string[] = ['1', '2', '3', '4'];
        ```
        ```html
        {{'<'}}p *ngFor="let item of list"{{'>'}}{{'{'}}{{'{'}}item{{'}'}}{{'}'}}{{'<'}}p{{'/>'}}
        ```
        ```html
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
        ```
        * *ngIf 是一个 Angular 的节点控制指令。
        ```html
        {{'<'}}p *ngIf="true"{{'>'}}显示于DOM中{{'<'}}p{{'/>'}}
        {{'<'}}p *ngIf="false"{{'>'}}于DOM中移除{{'<'}}p{{'/>'}}
        ```

        #### 2. 双向绑定
        * ngModel 绑定输入
        ```ts
        let text = '';
        ```
        ```html
        {{'<'}}input [(ngModel)]="text"{{' />'}}
        ```
        <br />
      </markdown>

      <div class="intro-double-binding">
        <p>text: {{text}}</p>
        <mat-form-field class="intro-double-binding__input">
          <input matInput [(ngModel)]="text" autocomplete="off">
        </mat-form-field>
      </div>

      <markdown ngPreserveWhitespaces>
        * 事件绑定原理
          * 用户操作触发DOM事件通知
          * Angular监听到通知，执行模板语法并作出响应

        * 数据绑定原理
          * Angular检测到可能引起数据变化的事件后，如网络请求、DOM树通知、网络请求、setTimeout以及setInterval等异步事件
          * 以DOM树由上至下进行脏值检查，以对比数据变化，也因此牺牲了性能来换取简化处理

        #### 3. 依赖注入
        依赖注入（DI）是一种重要的应用设计模式。在设计应用时通常会用到它，以提升它们的开发效率和模块化程度，使应用更灵活、高效、健壮，以及可测试、可维护。

        ```ts
        // without DI
        class Car {{'{'}}
          private engine: Engine();
          private tyre： Tyre();

          constructor() {{'{'}}
            this.engine = new Engine();
            this.tyre = new Tyre();
          {{'}'}}
        {{'}'}}
        ```
        在没有添加注入时，若是Engine类发生变化，那么该Car类变需要修改，Car类就会就很脆弱，假如有多个类都使用了Engine类，那么需要修改的就会很多，造成很大负担

        ```ts
        // with DI
        class Car {{'{'}}

          constructor(public engine: Engine, public tyre: Tyre) {{'{'}}

          {{'}'}}
        {{'}'}}
        ```
        添加服务注入后，Car类的依赖项Engine类更改后，只需要在构造函数中修改即可。

        #### 4. and more...
      </markdown>
    </div>
  </div>
</div>

