/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-nav-list.mat-list-base {
  padding: 0;
}
.mat-list-avatar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.active {
  background: #f5f5f5;
}
