.intro-wrap {
  width: 100%;
  max-height: calc(100vh - 64px);
  overflow: auto;
}

.intro-content {
  width: 100%;
}

.intro-markdown {
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 16px;
  position: relative;

  img {
    max-height: 200px;
    max-width: 100%;
  }
}
